#wrap{
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
           flex-flow: column;
}
header .title{
    position: static;
}
#main{
    -webkit-box-flex: 1; 
    -webkit-flex: 1;
    flex: 1;
}
.bar{
    position: static;
}