<ion-view view-title="兴趣部落">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goBack()"><i class="icon ion-arrow-left-c" ></i> 返回</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="row">
            <div class="col col-50">
                <div class="list card">
                    <div class="item item-body">
                        <img class="full-image" src="img/music.jpg">
                        <p class="f18 fb tc">音乐</p>
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-ios-plus"></i>
                            关注
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="list card">
                    <div class="item item-body">
                        <img class="full-image" src="img/photo.jpg">
                        <p class="f18 fb tc">摄影</p>
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-ios-plus"></i>
                            关注
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <div class="list card">
                    <div class="item item-body">
                        <img class="full-image" src="img/education.jpg">
                        <p class="f18 fb tc">教育</p>
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-ios-plus"></i>
                            关注
                        </a>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="list card">
                    <div class="item item-body">
                        <img class="full-image" src="img/food.jpg">
                        <p class="f18 fb tc">美食</p>
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-ios-plus"></i>
                            关注
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
