<ion-view view-title="登录">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">用户名</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">密码</span>
                <input type="password">
            </label>

        </div>
        <a class="button button-block button-positive button" href="#/tab/dash">
            登录
        </a>
    </ion-content>
</ion-view>
