<ion-view view-title="设置">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goBack()"><i class="icon ion-arrow-left-c" ></i> 返回</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="img/qrcode.jpg">
            </div>
            <div class="item item-avatar">
                <img src="http://p8.qhimg.com/t015ea0de5f9b33942a.jpg">
                <h2>曹操</h2>
                <p>扫一扫二维码，加我QQ</p>
            </div>
        </div>
    </ion-content>
</ion-view>
