<ion-view view-title="联系人">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">最近更新</div>
      <div class="item item-body">
        <div>
          最新版本为1.0.2
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">当前时间</div>
      <div class="item item-body">
        <div>
          2015-05-26 15:00:00
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">系统消息</div>
      <div class="item item-body">
        <div>
          您收到5条来自朋友的最新动态
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
