<?xml version="1.0" encoding="UTF-8"?>

<application push_enable="false"> 
  <app_start>index.html</app_start>  
  <app_name>test_input_file</app_name>  
  <project_name>test_input_file</project_name>  
  <package_name>com.yonyou.test_input_file</package_name>  
  <frame_name>ump</frame_name>  
  <icon relativePath="css/themes/default/app">app</icon>  
  <target>android-15</target>  
  <platform>android</platform>  
  <versionCode>1</versionCode>  
  <versionName>1</versionName>  
  <orientation>4</orientation>  
  <min_sdk_version>10</min_sdk_version>  
  <max_sdk_version>17</max_sdk_version>  
  <import id="cordova-plugin-http" type="web" ref="cordova"/>
  <import id="cordova-plugin-file" type="web" ref="cordova"/>
</application>
