/*
 *  webui popover plugin  - v1.1.3
 *  A lightWeight popover plugin with jquery ,enchance the  popover plugin of bootstrap with some awesome new features. It works well with bootstrap ,but bootstrap is not necessary!
 *  https://github.com/sandywalker/webui-popover
 *
 *  Made by Sandy Duan
 *  Under MIT License
 */
/*  webui popover  */
.um-popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 276px;
    min-height: 32px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    background-clip: padding-box;
    /* border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
   */
    border-radius: 6px;
    box-shadow: 0 0 0 3000px rgba(0,0,0,0.15);
}
.um-popover.top,
.um-popover.top-left,
.um-popover.top-right {
    margin-top: -10px;
}
.um-popover.right,
.um-popover.right-top,
.um-popover.right-bottom {
    margin-left: 10px;
}
.um-popover.bottom,
.um-popover.bottom-left,
.um-popover.bottom-right {
    margin-top: 10px;
}
.um-popover.left,
.um-popover.left-top,
.um-popover.left-bottom {
    margin-left: -10px;
}
.um-popover.pop {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    transition: transform 0.15s cubic-bezier(0.3, 0, 0, 1.5);
}
.um-popover.fade {
    transition: opacity .15s linear;
}
.um-popover.in {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
}
.um-popover-inner .close {
    font-family: arial;
    margin: 5px 10px 0 0;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    text-decoration: none;
}
.um-popover-inner .close:hover,
.um-popover-inner .close:focus {
    opacity: 0.5;
}
.um-popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    background-color: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 5px 5px 0 0;
}
.um-popover-content {
    /* padding: 9px 14px; */
    overflow: auto;
}
.um-popover-inverse {
    background-color: #333333;
    color: #eeeeee;
}
.um-popover-inverse .um-popover-title {
    background: #333333;
    border-bottom: 1px solid #3b3b3b;
    color: #eeeeee;
}
.um-no-padding .um-popover-content {
    padding: 0;
}
.um-no-padding .list-group-item {
    border-right: none;
    border-left: none;
}
.um-no-padding .list-group-item:first-child {
    border-top: 0;
}
.um-no-padding .list-group-item:last-child {
    border-bottom: 0;
}
.um-popover > .arrow,
.um-popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.um-popover > .arrow {
    border-width: 10px;
}
.um-popover > .arrow:after {
    border-width: 10px;
    content: "";
}
.um-popover.top > .arrow,
.um-popover.top-right > .arrow,
.um-popover.top-left > .arrow {
    bottom: -10px;
    left: 50%;
    margin-left: -11px;
    /* border-top-color: #999999;
    border-top-color: rgba(0, 0, 0, 0.25); */
    border-bottom-width: 0;
}
.um-popover.top > .arrow:after,
.um-popover.top-right > .arrow:after,
.um-popover.top-left > .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-top-color: #ffffff;
    border-bottom-width: 0;
}
.um-popover.right > .arrow,
.um-popover.right-top > .arrow,
.um-popover.right-bottom > .arrow {
    top: 50%;
    left: -10px;
    margin-top: -11px;
    border-left-width: 0;
    /* border-right-color: #999999;
    border-right-color: rgba(0, 0, 0, 0.25); */
}
.um-popover.right > .arrow:after,
.um-popover.right-top > .arrow:after,
.um-popover.right-bottom > .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #ffffff;
}
.um-popover.bottom > .arrow,
.um-popover.bottom-right > .arrow,
.um-popover.bottom-left > .arrow {
    top: -10px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: #e4e4e4;
    border-top-width: 0;
}
.um-popover.bottom > .arrow:after,
.um-popover.bottom-right > .arrow:after,
.um-popover.bottom-left > .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-bottom-color: #ffffff;
    border-top-width: 0;
}
.um-popover.left > .arrow,
.um-popover.left-top > .arrow,
.um-popover.left-bottom > .arrow {
    top: 50%;
    right: -10px;
    margin-top: -11px;
    border-right-width: 0;
    /* border-left-color: #999999;
    border-left-color: rgba(0, 0, 0, 0.25); */
}
.um-popover.left > .arrow:after,
.um-popover.left-top > .arrow:after,
.um-popover.left-bottom > .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #ffffff;
    bottom: -10px;
}
.um-popover-inverse.top > .arrow,
.um-popover-inverse.top-left > .arrow,
.um-popover-inverse.top-right > .arrow,
.um-popover-inverse.top > .arrow:after,
.um-popover-inverse.top-left > .arrow:after,
.um-popover-inverse.top-right > .arrow:after {
    border-top-color: #333333;
}
.um-popover-inverse.right > .arrow,
.um-popover-inverse.right-top > .arrow,
.um-popover-inverse.right-bottom > .arrow,
.um-popover-inverse.right > .arrow:after,
.um-popover-inverse.right-top > .arrow:after,
.um-popover-inverse.right-bottom > .arrow:after {
    border-right-color: #333333;
}
.um-popover-inverse.bottom > .arrow,
.um-popover-inverse.bottom-left > .arrow,
.um-popover-inverse.bottom-right > .arrow,
.um-popover-inverse.bottom > .arrow:after,
.um-popover-inverse.bottom-left > .arrow:after,
.um-popover-inverse.bottom-right > .arrow:after {
    border-bottom-color: #333333;
}
.um-popover-inverse.left > .arrow,
.um-popover-inverse.left-top > .arrow,
.um-popover-inverse.left-bottom > .arrow,
.um-popover-inverse.left > .arrow:after,
.um-popover-inverse.left-top > .arrow:after,
.um-popover-inverse.left-bottom > .arrow:after {
    border-left-color: #333333;
}
.um-popover i.icon-refresh:before {
    content: "";
}
.um-popover i.icon-refresh {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -15px;
    margin-right: -15px;
    background: url(./img/loading.gif) no-repeat;
}
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
.um-popover-backdrop {
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
}
