<ion-header-bar align-title="left" class="bar-dark">
	    <div class="h1 title">微信(16)</div>
	    <div class="buttons">
	        <button class="button no-animation button-icon icon ion-android-search">
	        </button>
	        <button class="button no-animation button-icon icon ion-android-add">
	        </button>
	    </div>
	</ion-header-bar>
<ion-view>
    <ion-content on-swipe-right="onSwipeRight()">
        <h1>使用UAPMobile调用硬件设备API</h1>
		<img id="pic" src="" width="150px" height="150px"  border="1px solid red" />


		<button class="button button-positive" ng-click="callCamera()">
			调用相机
		</button>
    </ion-content>
</ion-view>
